<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LibraryWebSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/servlet/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>servlet.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/servlet/SignOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/servlet/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>servlet.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/servlet/ChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LendBookServlet</servlet-name>
    <servlet-class>servlet.LendBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LendBookServlet</servlet-name>
    <url-pattern>/servlet/LendBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>servlet.ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/servlet/ReturnBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InStoreServlet</servlet-name>
    <servlet-class>servlet.InStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InStoreServlet</servlet-name>
    <url-pattern>/servlet/InStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutStoreServlet</servlet-name>
    <servlet-class>servlet.OutStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutStoreServlet</servlet-name>
    <url-pattern>/servlet/OutStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClearUserServlet</servlet-name>
    <servlet-class>servlet.ClearUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearUserServlet</servlet-name>
    <url-pattern>/servlet/ClearUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePrivilegeServlet</servlet-name>
    <servlet-class>servlet.ChangePrivilegeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePrivilegeServlet</servlet-name>
    <url-pattern>/servlet/ChangePrivilegeServlet</url-pattern>
  </servlet-mapping>
</web-app>